<%- model_class = Comment -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:commentable_id) %>:</strong></dt>
  <dd><%= @comment.commentable_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:commentable_type) %>:</strong></dt>
  <dd><%= @comment.commentable_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:body) %>:</strong></dt>
  <dd><%= @comment.body %></dd>
  <dt><strong><%= model_class.human_attribute_name(:created_by) %>:</strong></dt>
  <dd><%= @comment.created_by %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              @commentable.commentanles_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              @commentable.edit_commentanle_path(@comment), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              @commentable.commentanle_path(@comment),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
